{{ $page := .page }}
{{ $item := .item }}
{{ $view := lower .view | default "card" }}
{{ $fragment := .fragment | default "body" }}
{{ $index := .index }}
{{ $html := "" }}

{{ if not (templates.Exists (printf "partials/views/%s.html" $view)) }}
  {{ warnf "Failed to locate view at `partials/views/%s.html`. Check you specified a supported view in `%s`" $view $page.File.Path }}
  {{ $view = "card" }}
{{ end }}

{{ if eq $fragment "body" }}
  {{ $html = partial (printf "views/%s" $view) (dict "page" $page "item" $item "index" $index "config" (.config | default dict)) }}
{{ else if templates.Exists (printf "partials/views/%s.%s.html" $view $fragment) }}
  {{ $html = partial (printf "views/%s.%s" $view $fragment) (dict "page" $page "item" $item "index" $index "config" (.config | default dict)) }}
{{ end }}

{{ return $html }}
